<style>

/*Categorized using SMACSS*/

/*LAYOUT*/
html {
  text-align: center;
}

body {
  font-family: 'Droid Serif', serif;
  line-height: 1.6em;
  color: #8E8E8E;
  text-align: left;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
   font-family: 'Yellowtail', cursive;
   font-weight: 700;
   font-size: 2em;
   color: #111;
   margin: 0;
}

h2 {
  font-family: 'Abel', sans-serif;
  font-size: .5em;

}

/* header styles */
header {
  top padding: 50px;
  margin-bottom: 25px;
  overflow: hidden;
}

.header__toplogo {
  float: left;
  margin-right: 10px;

}

.header__socialicons {
   display: inline;
   float: right;
   margin: 0 auto;
   padding-top: 10px;
}

/* footer styles */
footer {
   clear: both; 
   margin-top: 65px;
   border-top: 1px solid #eee;
   text-align: center;
   font-size: 0.85rem;
   line-height: 1.4rem;
   color: #bbb;
}

/* article styles */
.articleheader {
}

.articleheader__title {
  font-family: "Abel";
  font-weight: 1000;
  font-size: 1.6em;
}

.articleheader__info {
   font-family: 'Abel', sans-serif;
   font-size: 0.5em;
   color: #888;
   text-transform: uppercase;
   margin-bottom: 25px;
}

/* MODULES */
.printericon {
  float: right;
  margin-top: 20px;
}

.recipe {
   background: url('../../images/list-bg.png') no-repeat left top;
   width: 100%;
   padding-top: 20px;
   -moz-columns:2 8em;
   -webkit-columns:2 8em;
   columns:2 8em;
   margin-bottom: 30px;
}

.recipe__ingredients {
   padding: 0 0 20px 50px;  
   font-family: 'Abel';
   font-size: 1.2em;
   line-height: 1.65;
}

.horizonbreak {
  margin-bottom: 25px
}
.avatar {
   float: left;
   border-radius: 100%;  
   width: 70px;
   height: 70px;
   margin-right: 20px;
}

.author-name {
  font-family: "Droid-serif";
  font-size: 1.25em;
}

.author-bio {
   margin: 7px 0;
   font-size: .8em;
}

.share-recipe {
   float: right;
   width: 175px;
   height: 55px;
   background-color: #bb7056;
   font-family: 'Abel';
   font-size: 1.25rem;
   color: white;
   text-transform: uppercase;
   border-style: none;      
   text-align: center;
}
/**/



